#container{
    width: 1000px;
    height: auto;
    background-color: black;
    margin: auto;
}
.banner img{
    width: 1000px;
    height: 200px;
}
.left{
    width: 500px;
    height: 200px;
    background-color: aqua;
    float: left;
}

.right{
    width: 500px;
    height: 200px;
    background-color: cadetblue;
    float: left;
}

@media screen and (max-width:999px){
    #container{
        width: 100%;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
}